/////////////////////////////////////
//members section
.members-section {
    background-color: $color-white;
}

////////////////////////////////////
//members section
.members {
    width: 80%;
    margin: 0 auto;
    padding-top: 7rem;
}

////////////////////////////////////
//members grid
.members-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 5rem;
    padding-bottom: 2rem;
}

///////////////////////////////////////
//about hero
.about-hero {
    background-image: url('../img/about hero.jpg');
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;

    @media only screen and (max-width: 56.25em) {
        height: 50vh;
    }

    &__text {
        position: absolute;
        left: 50%; 
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__head {
        font-size: 5rem;
        color: $color-white;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 12rem;
            height: 12rem;
            transform: translate(-50%, -50%);
            background-color: rgba($color-primary-light, .4);
            border-radius: 50%;
            z-index: -1;
        }
    }
}

///////////////////////////////////
//about des
.about-des {
    background-color: $color-white;
    padding: 7rem 0rem 5rem 15rem;

    &__text {
        width: 60%;
        font-size: 1.4rem;
        line-height: 1.8;
    }
}